<!DOCTYPE HTML>
<html>
<head>
    <title>Skoroszyt Aplikacja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-theme.min.css">
    {% block styles %}
    {% endblock %}

    <script src="/js/jquery/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/parsley/parsley.min.js"></script>
    <script src="/js/bootbox/bootbox.min.js"></script>
    <script src="/js/serializeJson/jquery.serializejson.js"></script>
    <script src="/js/utils.js"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Skoroszyt</a>
        </div>
            <ul class="nav navbar-nav">
                <li><a href="/web/people">Ludzie</a></li>
                <li><a href="/web/entries">Wpisy</a></li>
                <li><a href="#">Podsumowanie</a></li>
            </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div id="content" class="col-md-10 col-md-offset-1">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>